1. Assume this list: 10,20,30,40, print all the elements.

In [2]:
data = [10,20,30,40]
for i in data:
  print(i)

# Time complexity: O(n) - O(4)
# Space complexity: -

10
20
30
40

2. Print the first and the last elements of your data, separated by a comma and space. `10, 20`

In [6]:
data = [10,20,30,40]
print(str(data[0])+  ",",data[-1])
print(f"{data[0]}, {data[-1]}")
# Time complexity: O(1)
# Space complexity: -

10, 40
10, 40

3. Count how many elements in a list. You cannot use a build-in function like `len`.

In [7]:
data = [10,20,30,40]

count=0
for _ in data:
  count+=1
print(count)

4

4. Create a function called `my_len`. The function will accept a list and will return the lenght of the list.

In [10]:
def my_len(data):
  count=0
  for _ in data:
    count+=1
  return(count)
print(my_len([1,2,3,4]))
# Time: O(n)
# Space: -

4

5. Count only the positive elements of your list.

In [12]:
data = [-10,20,-30,40]

count=0
for i in data:
  if i>0:
    count+=1
print(count)

# Time: O(n)
# Space: -

2

6. Find the sum of the negative elements of your list.

In [13]:
data = [-10,20,-30,40]
mysum=0
for i in data:
  if i<0:
    mysum+=i

print(mysum)
# Time: O(n)

-40

7. Swap the first with the last element of the list.

In [14]:
data = [-10,20,-30,40]
temp = data[0]
data[0]=data[-1]
data[-1]=temp
print(data)
# Time: O(1)
# Space: -

[40, 20, -30, -10]

8. Print the indices of the list using a for loop.

In [15]:
data = [40, 20, -30, -10]
index=0
for _ in data:
  print(index)
  index+=1

Space: O(n)
Time: O(1)

0
1
2
3

9. Find the `max` of the list.

In [18]:
data = [40, 20, -30, -10]

mymax=data[0]
# max = float('-inf')

for i in data:
  if i>mymax:
    mymax=i
print(mymax)
# Time: O(n)
# Space: -

40

10. Find the second highest number of the list.

In [20]:
data = [40, 20, -30, -10]

first = second = float('-inf')

for num in data:
  if num>first:
    second =first
    first=num
  elif num>second:
    second=num
print(second)

# Time: O(n)

20